@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
.container2{
    margin-top: -2rem;
    height: 12em;
  border: none !important;
    background-image: url("mamiimages/backimg.jpg"); 
    background-repeat: no-repeat;
}
/* .container2::before{
    content:"";
    position: absolute;
    background:url('mamiimages/backimg.jpg') no-repeat center center/cover ;
    height: 50rem;
    width: 100%;
    z-index: -1;
    opacity: .8;
} */
.content{
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5rem 5rem;
    color:#f90576;
    text-shadow:2px 2px #1d1c1c;
}
#heading2{
          font-size: 2rem;
          font-family: 'Merriweather', serif;
}
#heading{
    font-size:3rem ;
    font-family: 'Merriweather', serif;
}
#para{
    font-size: 1.7rem;
    font-family: 'Merriweather', serif;
}






.item {
    margin: 5px 5px;
    padding: 0px 5px;
    border-radius: 1em;
    /* font-size: 1.3rem; */
    background-color: none !important;
}
li{
    color: rgb(27, 27, 27) !important;
    font-size: 1.9rem !important;
    
}
a{
    text-decoration: none;
    color: black;
}

.item:hover{
    background-color:#d40f52a8;
    color: white !important;
    
}
.navbar-inverse .navbar-toggle {
    border-color: #867272;
}
.navbar img{
    height: 5rem;
    width: 5rem;
     
    border-radius: 15rem;

}
.navbar-inverse .navbar-toggle {
    border: none;
}

.navbar-inverse .navbar-toggle {
    border: none;
}
.navbar-inverse .navbar-collapse {
    border: none;
}
.navbar.navbar-inverse {
    background-color: #d40f5285;
    border: none;
}
.navbar-inverse {
    background-color: #e91e63;
    border: none;
}
 /* .navbar-inverse .navbar-toggle:hover {
    background-color: blue;
}
.navbar-inverse .navbar-toggle:focus{
    background-color: blue;
} */
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color:#c70949  !important
}
.navbar-inverse .navbar-nav>li>a {
    color: #0a0a0ab5 !important;
}   
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 4rem !important;
    margin-left: -10px !important;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 27px !important;
    height: 3px !important;
    border-radius: 1px;
}